In [1]:
import os
import pandas as pd
import textract as tx
import Similar
import Cleaner

# Testing the Compute.py file

In [2]:
resume_dir = "Data/Resumes/"
job_desc_dir = "Data/JobDesc/"
resume_names = os.listdir(resume_dir)
document = []

In [3]:
document

[]

In [4]:
for res in resume_names:
    temp = []
    temp.append(res)
    text = tx.process(resume_dir+res, encoding='ascii')
    text = str(text, 'utf-8')
    temp.append(text)
    document.append(temp)

In [5]:
df = pd.DataFrame(document, columns=['Name', 'Context'])

In [6]:
df

,Name,Context
0,ALANKRIT NIRJHARPremium CV Featured Resume.docx,ALANKRIT NIRJHARPremium CV Featured Resume \n...
1,Amarpreet SinghPremium CV Featured Resume.docx,Amarpreet SinghPremium CV Featured Resume \n\...
2,Shambhai MishraFeatured Resume.docx,Shambhai MishraFeatured Resume \n\n \n\nA har...
3,Amruta B.pdf,Amruta B. ThoratFeatured Resume \n\n \n\nJr...
4,Dhavakumar AmarntharajanFeatured Resume.docx,Dhavakumar AmarntharajanFeatured Resume \n\n ...
5,DIVYA PRAKASH SINGHFeatured Resume.docx,DIVYA PRAKASH SINGHFeatured Resume \n\n \n\nM...
6,Abhishek SharmaFeatured Resume.docx,Abhishek SharmaFeatured Resume \n\n \n\nDevel...
7,Manoj KumarFeatured Resume.docx,Manoj KumarFeatured Resume \n\n \n\nAPPLICATI...
8,Seshadri Sastry Kunapuli.docx,Seshadri Sastry Kunapuli \n\n \n\nManager ...
9,SNEHA SAHUFeatured Resume.docx,SNEHA SAHUFeatured Resume \n\n \n\nMachine Le...
10,Bijjula SahithiFeatured Resume.docx,Bijjula SahithiFeatured Resume \n\n \n\nProdu...
11,Prashant Bhat.pdf,Prashant Bhat \n\n \n\nStanford Machine ...
12,Suraj Chauhan.docx,Suraj Chauhan \n\n \n\nSenior Web Developer ...
13,Nandagopal HFeatured Resume.pdf,"Nandagopal HFeatured Resume \n\n \n\nMYSQL,..."
14,AJAY CHINNIFeatured Resume.docx,AJAY CHINNIFeatured Resume \n\n \n\nSeeking r...
15,Ashwani Kumar RajputPremium CV Featured Resume...,Ashwani Kumar RajputPremium CV Featured Resume...
16,RISHABH SHARMAFeatured Resume.docx,RISHABH SHARMAFeatured Resume \n\n \n\nJunior...
17,NARENDRA HINGE.docx,NARENDRA HINGE\n\n\n\n \n\nSenior Web Develope...
18,Kaustav SenFeatured Resume.docx,Kaustav SenFeatured Resume \n\n \n\nTech Lead...
19,khyati gandhi.docx,khyati gandhi \n\n \n\nWeb Developer seeking...
20,Jithin J NairFeatured Resume.docx,Jithin J NairFeatured Resume \n\n \n\nMachine...

In [12]:
def get_job_description():
    job_docs = os.listdir(job_desc_dir)
    job_desc = tx.process(
        job_desc_dir+job_docs[1], extension='docx', encoding='ascii')
    job_desc = str(job_desc, 'utf-8')
    job_des = Cleaner.Cleaner(job_desc)

In [8]:
scores = []
def compute_score(x=2, y=2):
    for text in df['Context']:
        raw = Cleaner.Cleaner(text)
        score = Similar.match(raw[2], job_des[2])
        scores.append(score)

In [9]:
scores

[7.188133725864406,
 17.082715886282017,
 9.476762357802984,
 17.291130127664918,
 18.012687466241466,
 9.452611578580793,
 8.42476835081202,
 11.586667849627627,
 12.456231619031753,
 17.0072580417408,
 14.108484885761968,
 9.982352544008108,
 16.236249502169258,
 17.05720171632391,
 11.320461075067941,
 15.613431194443613,
 9.533217549290569,
 14.925508576697014,
 17.989739486512008,
 24.064673772279484,
 11.435471298914607]

In [11]:
df['Scores'] = scores
df2 = df.sort_values(by=['Scores'], ascending=False)
# print(df2.iloc[0, 1])

In [17]:
# import matplotlib.pyplot as plt

In [16]:
# plt.text(15, 30)